body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(../img/bg.jpg);
  -webkit-font-smoothing: antialiased; }

body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal; }

h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 0 auto;
  padding: 10px; }

select {
  margin: 30px; }

.grid {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; }

.el {
  height: 230px;
  border: 1px solid #ddd;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  width: 31%; }
  .el .image {
    width: 100%;
    height: 180px;
    margin-bottom: 6px; }
  .el h2 {
    font-weight: 400;
    font-size: 16px;
    margin: 0; }

@media (max-width: 800px) {
  .el {
    width: 100%; } }
