// import font



// @font-face {
//   font-family: 'martin gothic medium';
//   src: url('../fonts/martin-gothic-medium.eot');
//   src: url('../fonts/martin-gothic-medium.eot?#iefix') format('embedded-opentype'), 
//   url('../fonts/martin-gothic-medium.woff') format('woff')
// }

// @font-face {
//   font-family: 'martin gothic light';
//   src: url('../fonts/martin-gothic-light.eot');
//   src: url('../fonts/martin-gothic-light.eot?#iefix') format('embedded-opentype'), 
//   url('../fonts/martin-gothic-light.woff') format('woff')
// }

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  color: #333;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
  background: url(../img/bg.jpg);
  -webkit-font-smoothing: antialiased;


}


body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
}

body {
    //background: url(../_images/6a.jpg);
    // -webkit-touch-callout: none;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none
  }
h1{
  font-size: 30px;
  font-weight: 100;
  margin: 0 auto;
  padding: 10px;
}

select{
  margin: 30px;
}
.grid{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.el{
  height:230px;
  border: 1px solid #ddd;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  width: 31%;
  .image{
    width: 100%;
    height: 180px;
    margin-bottom: 6px; 
  }
  h2{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .el{
    width: 100%;
  }
}






































